* {
    background-color: rgb(255, 254, 178);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: deeppink;
}


.heading {
    color: rgb(0, 0, 0);

    border: 2px solid red;

    margin: auto;
    /* width: 20%; */

    width: 50%;

    /* padding: 20px; */
}