@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;


}

body{
    padding: 2rem;
}

.heading {}


.main-section {

    border: 2px solid gray;

    border-radius: 1rem;

    width: 60%;

    background-color: rgba(128, 128, 128, 0.13);

    padding: 2rem;

    display: flex;

    flex-direction: column;

    gap: 2rem;


}

.profile-section {
    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
    gap: 1rem;
}

.profile-section img {
    width: 150px;

    border-radius: 100rem;

    border: 2px solid seagreen;
}


.inputboxex-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 1rem;
}


.fullname-container,
.email-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


input {
    width: 100%;
    padding: 0.5rem 1rem;

    border: none;

    outline: none;

    border: 1px solid rgb(172, 172, 172);

    border-radius: 0.3rem;


}

.assignedcourses-section {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.assignedcourses-section p {
    padding: 0.5rem 1rem;

    background-color: rgba(221, 160, 221, 0.685);

    border-radius: 1rem;

    width: 33%;
}


.password-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change-password {
    color: green;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;

    background-color: seagreen;

    border-radius: 0.2rem;

    font-size: 1rem;

    color: whitesmoke;

    
}


.btn-container{
    display: flex;
    justify-content: end;
    align-items: center;
}